  <!-- Logo -->
  <div class="navbar-wagon">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Webxy.png", height: 50 %>
    <%= image_tag "ttt.png", height: 40 %>
    <% end %>
  </div>


  <!--WE ARE TYPESCRIPT-->

  <div class="container">
  <div class="jumbotron">
    <div class="typewriter">
       <div class="typewriter-text"> We are, WEBSY. Builders, Creators, Dreamers, Game Changers.</div>
    </div>
  </div>
</div>

<!-- COMING SOON -->

<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>10 days</p>
  </div>
  <div class="bottomleft">
  </div>
</div>


    <!-- HOW WE WORK - TIMELINE -->
    <!-- WHAT WE DO -->

    <!-- OUR SECRET SAUCE -->

    <!-- What We Know -->





    <!-- Footer -->


<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/thewebsyco/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/The-Websy-Co-753373168394414/"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2019. TheWebsyCo. All rights reserved.
  </div>
</div>
