  <!-- Logo -->
  <div class="navbar-wagon">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Webxy.png", height: 50 %>
    <%= image_tag "ttt.png", height: 40 %>
    <% end %>
  </div>



 <!--WE ARE TYPESCRIPT #2-->
 <!DOCTYPE html>
<html>
<body>

 <div class="container">
  <div class="titleweare">
    <h1>Hello, We are The Websy Co.! </h1>
  </div>
</div>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded',function(event){
  // array with texts to type in typewriter
  var dataText = [ "Hello, we are the Websy Co.!", "Web Developers.", "Dreamers.", "Builders", "Creators.", "Game Changers", "Hello, we are the Websy Co. !"];

  // type one text in the typwriter
  // keeps calling itself until the text is finished
  function typeWriter(text, i, fnCallback) {
    // chekc if text isn't finished yet
    if (i < (text.length)) {
      // add next character to h1
     document.querySelector("h1").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

      // wait for a while and call this function again for next character
      setTimeout(function() {
        typeWriter(text, i + 1, fnCallback)
      }, 100);
    }
    // text finished, call callback if there is a callback function
    else if (typeof fnCallback == 'function') {
      // call callback after timeout
      setTimeout(fnCallback, 700);
    }
  }
  // start a typewriter animation for a text in the dataText array
   function StartTextAnimation(i) {
     if (typeof dataText[i] == 'undefined'){
        setTimeout(function() {
          StartTextAnimation(0);
        }, 20000);
     }
     // check if dataText[i] exists
    if (i < dataText[i].length) {
      // text exists! start typewriter animation
     typeWriter(dataText[i], 0, function(){
       // after callback (and whole text has been animated), start next text
       StartTextAnimation(i + 1);
     });
    }
  }
  // start the text animation
  StartTextAnimation(0);
});

</script>
</body>
</html>


<!-- COMING SOON -->


<!DOCTYPE html>
<html>
<body>

  <div class="bgimg">
    <div class="topleft">
    </div>
    <div class="middle">
      <h1>COMING SOON</h1>
      <hr>
      <p id="demo" style="font-size:60px"></p>
    </div>
    <div class="bottomleft">
    </div>
  </div>

  <script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 20, 2019 15:37:25").getTime();

// Update the count down every 1 second
var countdownfunction = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(countdownfunction);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

</body>
</html>


<!-- What we do -->
<div class= "container">
 <div class="text-center">
  <div class="wedo" "text-align">
    <h1> WE DEVELOP WEBSITES THAT DO EXACTLY WHAT YOU NEED </h1>

    <p> We specialize in custom web development services. Our custom websites are created to cater to your unique business needs, which means that your solution will be tailored to perfectly fit your business.</p>

  </div>
</div>
</div>




<!-- HOW WE WORK - TIMELINE -->

<!-- WHAT WE DO -->


<!-- OUR SECRET SAUCE -->



<!-- What We Know -->

<!--contact -->

<!-- Cliengo installation code for http://www.thewebsyco.com -->
 <script type="text/javascript">(function () {
 var ldk = document.createElement('script');
 ldk.type = 'text/javascript';
 ldk.async = true;
 ldk.src = 'https://s.cliengo.com/weboptimizer/5c397e7be4b0afe542032063/5c397e7ce4b0afe542032066.js';
 var s = document.getElementsByTagName('script')[0];
 s.parentNode.insertBefore(ldk, s);
 })();</script>




<!-- <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+59178000375", // WhatsApp number
            email: "kayracz@gmail.com", // Email
            call_to_action: "Any questions?", // Call to action
            button_color: "#000000", // Color of button
            position: "right", // Position may be 'right' or 'left'
            order: "email,whatsapp", // Order of buttons
        };
        var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
 -->


<!-- Footer -->


<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/thewebsyco/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/thewebsyco/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/company/the-websy-co"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © 2019. TheWebsyCo. All rights reserved.
  </div>
</div>
