  <!-- Logo -->
  <div class="navbar-wagon">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Webxy.png", height: 50 %>
    <%= image_tag "ttt.png", height: 40 %>
    <% end %>
  </div>



<!-- COMING SOON -->

<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>10 days</p>
  </div>
  <div class="bottomleft">
  </div>
</div>

  <!--WE ARE TYPESCRIPT-->

 <!--  <div class="banner" style="background-image: url('<%= image_path '' %>');">

    <div class="typewriter">
       <div class="typewriter-text"> We are, Websy, builders, Dreamers, Game Changers, Agile, Hackers .</div>
    </div> -->


   <!--  <div class="main-content">
      <h3 class="main-heading">We are</h3>
      <h3 class="main-title hidden">DREAMERS</h3>
      <h3 class="main-title hidden">HACKERS</h3>
      <h3 class="main-title hidden">GAME CHANGERS</h3>
      <h3 class="main-title">INNOVATION</h3>
      <h3 class="main-title hidden">AGILE</h3>
      <h3 class="main-title hidden">MAKERS</h3>
      <h3 class="main-title hidden">DIGITAL DISRUPTION</h3>
      <h3 class="main-title hidden">BUILDERS</h3>
      <h1 class="main-title hidden">WOLOX</h1>
    </div>  -->



    <!-- HOW WE WORK - TIMELINE -->
    <!-- WHAT WE DO -->

    <!-- OUR SECRET SAUCE -->

    <!-- What We Know -->





    <!-- Footer -->


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
